@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {


  @font-face {
    font-family: 'Eina';
    font-weight: 200;
    src: url('../public/fonts/Eina01-Regular.woff2') format('woff2'), url('../public/fonts/Eina01-Regular.woff') format('woff');
  }
  @font-face {
    font-family: 'Eina';
    font-weight: 600;
    src: url('../public/fonts/Eina01-SemiBold.woff2') format('woff2'),
      url('../public/fonts/Eina01-SemiBold.woff') format('woff');
  }
  @font-face {
    font-family: 'Eina';
    font-weight: 700;
    src: url('../public/fonts/Eina01-Bold.woff2') format('woff2'),
      url('../public/fonts/Eina01-Bold.woff') format('woff');
  }
}



html{
  font-family: "Eina";
}





.scrollbar-style::-webkit-scrollbar {

  width: 20px;
  border-radius: 20px;
}



.infopop-inner{
  background-color: rgb(31, 90, 150);
    padding: 11px 12px 13px;
    border-radius: 8px;
    color: rgb(255, 255, 255);
    max-width: 30em;
    font-size: 10px;
    line-height: 15px;
    font-weight: 600;
    width: 250px;

}

.infopop{
  position: absolute;
  inset: 0px auto auto 0px;
  transform: translate(1000px, 335px);
}
